In [1]:
from common import *

In [2]:
db = load_db(download_tar("http://vision.lems.brown.edu/sites/default/files/216db.tar.gz"))

216db exists. Skipping

In [3]:
df = pd.DataFrame(data=db)
df = df.sort_values(by=["clas","num"])
print(df.clas.unique())
df

['bird' 'bone' 'brick' 'camel' 'car' 'children' 'classic' 'elephant'
 'face' 'fork' 'fountain' 'glas' 'hammer' 'heart' 'key' 'misk' 'ray'
 'turtle']

       clas num                                              image
149    bird  02  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
213    bird  04  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
48     bird  07  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
203    bird  09  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
83     bird  10  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
..      ...  ..                                                ...
193  turtle  13  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
178  turtle  16  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
202  turtle  17  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
191  turtle  18  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...
89   turtle  20  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...

[216 rows x 3 columns]

In [4]:
%matplotlib qt

In [5]:
chosen="turtle"

def plot_cls(chosen):

    data =df.query(f"clas=='{chosen}'")
    size = len(data)
    COLSIZE=5
    fig, axs = plt.subplots(nrows=size//COLSIZE+1, ncols=COLSIZE, figsize=(COLSIZE*6,(size//COLSIZE+1)*6))
    for ax, (i, row) in zip(axs.flatten(), data.iterrows()):
        ax.imshow(row.image)
        ax.set_title(f"{row.num}")

    fig.suptitle(chosen)
    
plot_cls(chosen)

In [6]:
for c in df.clas.unique():
    plot_cls(c)

In [ ]:
COLSIZE=12
fig, axs = plt.subplots(nrows=len(df.clas.unique()), ncols=COLSIZE, figsize=(COLSIZE*2,50))
for clas,axrow in zip(df.clas.unique(), axs):
    for ax, (i, row) in zip(axrow,df.query(f"clas=='{clas}'").iterrows()):
        ax.imshow(row.image)
        ax.set_title(f"{ row.clas }{row.num}")
        ax.axis("off")

fig.tight_layout()